{% extends "base.html" %}

{% block content %}
<div class="sub-header mb-3 mt-3">
    <button class="btn-update">업데이트</button>
    <span style="font-size: 12px; color: #888;">Update 2026.06.04 14:00:00</span>
</div>

<div class="dashboard-content">
    
    <div class="row g-3 mb-3">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header-custom"><i class="bi bi-calculator"></i> 요약 데이터</div>
                <div class="card-body-custom">
                    </div>
            </div>
        </div>
        </div>
</div>
{% endblock %}